body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02rem;
  color: var(--slate);
  background-color: var(--white);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --slate: #434455;
  --cloud: #F4F4FD;
  --navy-blue: #2E2F42;
  --iris: #4D5AE5;
  --white: #fff;
  --cornflower: #E7E9FC;
  --hover-links: #404bbf;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04rem;
}

.link:hover,
.link:focus {
  color: var(--hover-links);
}

h2 {
  font-weight: bold;
  font-size: 36px;
}

.title-large {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list {
  list-style: none;
}

.flexed-list{
  display: flex;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
img{
  display: block;
}
/*----------------header---------------------*/
.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container{
  align-items:center;
}

.logo-header {
  color: var(--iris);
  margin: 25.5px 76px 25.5px 0;
}

.logo-text {
  color: var(--navy-blue);
}

.menu-list{
  align-items:center;
}

.menu-list-link{
  color:var(--navy-blue);
}
.menu-list-item:not(:last-child){
margin-right: 40px;
}
.menu-list-item:hover,
.menu-list-item:focus {
  color: var(--hover-links);
}

.contacts {
  margin-left: 332px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.contacts-item:not(:last-child){
  margin-right: 40px;
}

.contacts-link {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--hover-links);
}


/* ----------section 1----------- */

.solution {
  background-color: var(--navy-blue);
  text-align: center;
  padding: 188px 320px;
}

.solution-text {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: 0 auto;
  width: 496px;
}

.solution-btn {
  background: var(--iris);
  color: var(--white);
  margin-top: 48px;
  border: none;
  letter-spacing: 0.04rem;
  border-radius: 4px;
  padding: 16px 32px;

  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.solution-btn:hover,
.solution-btn:focus {
  background-color: var(--hover-links);
}

/*-----------------------section 2 ---------------------*/
.about-us{
  margin: 120px 0px;
}

.about-us-item {
  margin: 0 24px 0 0;
}

.about-us-title {
  margin-bottom: 8px;
}

/*-------------------------- section 3 ----------------------*/

.we-doing {
  text-align: center;
  margin-bottom: 120px;

}

.we-doing-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue)
}

.we-doing-item:not(:last-child) {
  margin-right: 24px;
}

/*----------------------------- section 4 ---------------*/

.team {
  text-align: center;
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.team-item{
  background-color: var(--white);
}
.team-item:not(:last-child){
  margin-right: 24px;
}

.team-item-main {
  margin: 32px 4px;
}

.team-item-main-title {
  margin-bottom: 8px;
}

.team-item-main-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}

/* -------------------- footer ---------------------------------*/

.footer {
  background: var(--navy-blue);
  padding: 101.5px 0 100px 0;
}

.footer-logo {
  color: var(--iris)
}

.footer-logo-text {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 17.5px;
}



/*--------------------------------------------------------------------portfolio-------------------------------------------------------*/
.filters {
  margin: 96px 0 72px 0;
}

.filters-list {
  justify-content: center;
  display: flex;
}

.filters-item:not(:last-child) {
  margin-right: 24px;
}

.filters-button {
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
padding: 12px 24px;
border-radius:4px;

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.filters-button:focus,
.filters-button:hover {
  background-color: var(--hover-links);
  color: var(--white);
}


/*---------------------------------cards list -----------------------*/

.cards {
  margin-bottom: 72px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.cards-item {
  margin: 0 24px 48px 0;
}

.cards-item-content {
  padding: 32px 16px;
  gap: 8px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cornflower)
}